
:root {
  --perry-accent: #394b9d;
  --navy-accent: #0f1638;
  --berry-accent: #940641;
  --green-accent: #78f0ae;
  --text-color: #f2f2f2;
  --light-color: #a2cfff;
  --background-color: #03030c;
  --teal-accent: #23546c;

}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  background-color: var(--text-color); /* Light background for better readability */
  color: var(--background-color); /* Neutral text color */
}

.cardone {
  max-width: 100vw;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  background-color: var(--text-color); /* White background for each project block */
  border: 1px solid var(--light-color); /* Subtle border for structure */
}

.sectionTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0rem;
  margin-top: 2rem;
  text-align: center;
  color: var(--perry-accent);

}

.achievements ul {
  list-style: disc;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--background-color);
  background-color: var(--text-color);
  max-width: 95%;

}

.achievements li {
  margin-bottom: 0.5rem;
  background-color: var(--text-color); /* White background for each project block */
  font-size: 1rem;
  line-height: 1.6;
  margin-left: 0.75rem;
  color: var(--navy-accent);

}
