/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:wght@300;500;700&family=Roboto+Mono:wght@400;500&display=swap');

:root {
  --primary-gradient: linear-gradient(to bottom, var(--background-color), var(--navy-accent));
  --perry-accent: #394b9d;
  --navy-accent: #0f1638;
  --berry-accent: #940641;
  --green-accent: #78f0ae;
  --text-color: #f2f2f2;
  --light-color: #a2cfff;
  --background-color: #03030c;
  --teal-accent: #23546c;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
  background-image: var(--primary-gradient), url('https://www.transparenttextures.com/patterns/cubes.png'); /* Subtle texture */
  text-align: center;
  padding: 2rem;
}

.parallax-section {
  height: 100vh; /* Full viewport height */
  background-image: url('assets/brain.jpg'); /* Path to your image */
  background-attachment: fixed; /* Enables parallax effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.parallax-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color); /* Dark overlay for better text readability */
  z-index: 0;
}

.card {
  width: 90%;
  max-width: 800px;
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: 12px;
  font-family: 'Lora', serif;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--green-accent);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.homePage h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  margin: 0;
}

.homePage h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.homePage h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--light-color);
}

.cta-button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: var(--light-color);
  color: var(--teal-accent);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.cta-button:hover {
  color: var(--perry-accent);
  transform: scale(1.05);
}

.art-element {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 150px;
  height: 150px;
  background: var(--berry-accent);
  border-radius: 50%;
  opacity: 0.6;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
