/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:wght@300;500;700&family=Roboto+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Oxanium:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --perry-accent: #394b9d;
  --navy-accent: #0f1638;
  --berry-accent: #940641;
  --green-accent: #78f0ae;
  --text-color: #f2f2f2;
  --light-color: #82d1fe;
  --background-color: #03030c;
}

body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.homePage {
  display: flex;             /* Enable flexbox for centering */
  flex-direction: column; 
  justify-content: flex-start;   /* Horizontally center children */
  align-items: center;       /* Vertically center children */
  height: 100vh;             /* Full viewport height */
  width: 100vw;              /* Full viewport width */
  margin: 0;
  padding: 50px 0 0 0;
  box-sizing: border-box;

  background-image: url('public/homeBG.png'); /* Path to your image */
  background-attachment: fixed;      /* Parallax effect */
  background-position: center bottom; /* Center the image */
  background-size: cover;           /* Ensure the image covers the whole area */
  background-repeat: no-repeat;     /* Avoid repeating the image */
  z-index: -1;  
  max-height: 100vh; 
}

.nameBox {
  align-items: center;
  text-align: center;
  width: 80%;                /* Span 80% of the page width */
  padding: 10px;             /* Optional: Add some inner spacing */
  box-sizing: border-box;
  padding-top: 50px;
  margin-top: 50px;
  position: relative;
  z-index: 1; 
}
      #firstName {
        color: var(--text-color);
        font-size: 9rem;
        font-weight: 300;
        margin-bottom: 0 auto;
      }
      #lastName {
        color: #281f8d;
        font-size: 9rem;
        font-weight: 300;
        margin-bottom: 0 auto;

      }
      #description {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 10px;
        font-family: 'Space Grotesk', 'serif';
        color: var(--light-color);
      }

#transition {
  width: 100vw;
  height: 20vh;
  background: linear-gradient(to bottom, black, var(--background-color));
}

.about-page {
  width: 100vw;
  margin-top: 40vh; /* Push About section further down */
  min-height: 100vh;  /* Ensures that the About section takes at least the height of the screen */
  z-index: 1; 
  position: relative;
  background-color: var(--background-color);
  padding-top: 0;
  padding-bottom: 20px;
}

#aboutme {
  text-align: left;
  margin-left: 7%;
  font-size: 10rem;
  margin-top: 20vh;
  padding-top: 10vh;
}

/* Container for images */
.image-container {
  position: relative;
  margin-top: 20vh;
  width: 100%; /* Ensure the container takes up full width */
  height: 200vh; /* Set a height for the images container */
  background: var(--background-color);
  margin: 0 auto;
}

/* Style for each image */
.image {
  position: absolute; /* Position all images relative to the container */
  object-fit: cover;  /* Ensure images cover the area without distortion */
  border-radius: 30px;
}

/* Back image (upper right-most) */
.image.back {
  top: 0; /* Position at the top */
  right: 8%; /* Position at the right */
  height: auto; /* Maintain aspect ratio */
  z-index: 1;  /* Set behind the middle image */
  width: 26%; 
  height: 40%;
}

/* Middle image */
.image.middle {
  top: 35%; /* Position in the middle vertically */
  left: 50%; /* Position in the middle horizontally */
  transform: translate(-50%, -50%); /* Adjust to center the image */
  width: 50%;  /* Adjust the width of the image */
  height: auto; /* Maintain aspect ratio */
  z-index: 2;  /* Set it above the back image */
}

/* Front image (bottom-left image) */
.image.front {
  bottom: 25%; /* Position at the bottom */
  left: 7%;   /* Position at the left */
  width: 28%; 
  height: 30%; 
  z-index: 3;  /* Set it on top */
}

.about-nav {
  margin-top: 30px; /* Position directly under #aboutme */
  margin-left: 7%; /* Align with the left edge of #aboutme */
  padding: 0;
  text-align: left;
  display: inline-block;
  width: auto; /* Let the width adjust dynamically */
  position: relative; /* Ensure it stays below the #aboutme title */
  background-color: transparent;
  box-shadow: none;
}

.about-nav ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  display: block;
  flex-direction: column; /* Stack the links vertically */
  gap: 30px; /* Add spacing between items */
}

.about-nav li {
  display: block;
  text-align: left;
  margin-top: 15px;
}

.about-nav a {
  color: var(--text-color);
  font-size: 2.5rem;
  font-family: 'Oxanium', serif; 
  text-transform: uppercase;          /* Make all text uppercase */
  font-weight: 300; 
  background-color: transparent;
}

.about-nav a:hover {
  color: var(--berry-accent); /* Highlight on hover */
  transform: scale(1.05); /* Add subtle hover effect */
}

#interests-title {
  position: absolute; /* Allows precise positioning */
  bottom: 22%;
  left: 40%; /* Align horizontally with the image */
  font-size: 7rem; /* Adjust size if needed */
  color: var(--text-color); /* Use your theme's text color */
  z-index: 4;
}

.about-sections {
  margin-top: 75vh;
  width: 100vw;
  background-color: var(--background-color);
  margin-bottom: 90px;
}

section {
  margin-top: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  padding-bottom: 30px;
}

section h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 6rem; /* Adjust size if needed */
  color: var(--text-color); /* Use your theme's text color */
  margin-left: 7%;

}

#temp {
  font-size: 2rem;
  margin-left: 1%;
}


/* Mobile responsiveness */
@media (max-width: 768px) {
  .content-left,
  .content-right {
    flex-direction: column; /* Stack text and image vertically */
    text-align: center;
  }

  .text,
  .image {
    flex: unset; /* Remove equal spacing for smaller screens */
  }
}

  #education {
    margin-top: 20vh;
    width: 100vw;
    margin-left: 0;
    justify-content: left;
  }

  #education h2 {
    margin-left: 7%;
  }
  
  .columbia-section{
    display: flex;
    max-width: 100vw;
    align-items: top;
    box-sizing: border-box;
    justify-content: left;
  }

  .college {
    text-align: left;
    margin-left: 7%;
  }

  .photo {
    max-width: 60%;
  }

  .photo img {
    border-radius: 25px;
  }

  #school {
    font-size: 2.0rem;
    font-family: 'Oxanium', serif; 
    text-transform: uppercase;          
    font-weight: 400; 
    margin-bottom: 0rem;
    line-height: 2rem;
    color: var(--text-color);
  }

  #subschool {
    line-height: 2rem;
    margin-bottom: 0rem;
    color: var(--perry-accent);
    font-weight: 450;
  }

  #ed {
    margin-top: 2rem;
    color: var(--light-color);
    font-size: 1.6rem;
    font-family: 'Oxanium', serif; 
    text-transform: uppercase;          
    font-weight: 450; 
    margin-bottom: 0rem;
    line-height: 1.6rem;
  }

  .college h5 {
    font-weight: 300;
    color: var(--text-color);
    font-family: 'Space Grotesk', 'serif';
  }

  #nyc {
    text-align: center;
    font-size: 1.0rem;
    font-family: 'Oxanium', serif; 
    text-transform: uppercase;          
    font-weight: 400; 
    margin-bottom: 0rem;
    line-height: 2rem;
    color: var(--text-color);
  }


  #course-break {
    margin-top: 15vh;
    width: 100vw;
    margin-left: -3.5%;

  }
  #coursework-head{
    text-align: center;
    margin-bottom: 4rem;
    font-size: 4rem;
  }

  .coursework{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    max-width: 100vw;
    gap: 5%; 
    align-items: flex-start;
    box-sizing: border-box;
    margin-bottom: 20vh;
  }

  .term {
    text-transform: uppercase;
    max-width: 25%;
  }

  .term h4{
    font-size: 2.0rem;
    font-family: 'Oxanium', serif; 
    text-transform: uppercase;          
    font-weight: 400; 
    margin-bottom: 0rem;
    line-height: 2rem;
    color: var(--light-color);
  }

  .term h5{
    font-size: 1.4rem;
    font-family: 'Space Grotesk', 'serif'; 
    text-transform: uppercase;          
    font-weight: 400; 
    color: var(--perry-accent);
    margin-bottom: 1rem;
  }

  .term p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.2rem;
    text-transform: none;
  }


  #involvements{
    margin-top: 20vh;
    width: 100vw;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    flex-direction: column;
    gap: 3rem; /* Space between rows */
    margin: 0 auto; /* Center section horizontally */
  }

  #clubs-onc, #clubs-offc {
    margin-bottom: 1%;
    font-size: 4rem;
    color: var(--text-color);
    font-family: 'Oxanium', serif; 
    text-transform: uppercase;
  }
  
  #clubs-onc{
    text-align: left;
  }

  #clubs-offc{
    text-align: right;
  }

  .involve-section{
    display: flex;
    max-width: 100%;
    gap: 5%; 
    align-items: left;
    justify-content: left;
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
  }

  .club {
    max-width: 25%;
    border: white;
    border-width: 1px;
  }

  .club h4{
    font-size: 2.0rem;
    font-family: 'Oxanium', serif; 
    text-transform: uppercase;          
    font-weight: 400; 
    margin-bottom: 0rem;
    line-height: 2rem;
  }

  .club p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.2rem;
  }

  .club a {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.2rem;
    text-transform: uppercase;          

    color: var(--teal-accent);
  }

  .involve-section2{
    display: flex;
    padding: 0;
    max-width: 100vw;
    gap: 5%; 
    align-items: left;
    justify-content: left;
    box-sizing: border-box;
    margin-bottom: 20vh;

  }

  .involve-section2 #club {
    max-width: 20%;
    border: white;
  }



  #skills{

  }

  .skills-section{
    display: flex;
    max-width: 100vw;
    align-items: top;
    box-sizing: border-box;
    justify-content: left;
    margin-bottom: 20vh;
  }

  .skills-text{
    text-align: left;
    margin-left: 7%;
  }

  .skills-text h4{
    color: var(--text-color);
    font-weight: 400;
    margin-bottom: 0.5rem;
    margin-top: 4rem;
    font-family: 'Space Grotesk', 'serif';
    text-transform: uppercase;
  }

  #h4a {
    color: var(--text-color);
    font-weight: 400;
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-family: 'Space Grotesk', 'serif';
    text-transform: uppercase;
  }

  .skills-text h5{
    color: var(--light-color);
    font-family: 'Space Grotesk', 'serif';
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.65rem;
    margin-bottom: .5rem;
  }

  .skills-photo {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .skills-photo img{
    max-width: 60%;
    height: auto;
    margin-bottom: 1%;
    margin-top: 3%;
  }

  #subtitle{

  }


  #interests{

  }

  
#background {
  display: flex;
  margin-top: 0;
  flex-direction: column;
  gap: 3rem; /* Space between rows */
  margin: 0 auto; /* Center section horizontally */
}

#background-header {
  margin-bottom: 0vh;
  font-size: 5rem;
}
#hdigh {
  text-transform: uppercase;
  font-family: 'Space Grotesk', 'serif';
  font-size: 3rem;
  text-align: left;
  margin-left: 0;
  margin-bottom: 4rem;
  color: var(--light-color);
}

/* Content blocks */
.content-left,
.content-right {
  display: flex;
  width: 100vw;
  gap: 2rem; /* Space between text and image */
  box-sizing: border-box; /* Include padding and border in total width/height */
  height: 55vh;
  align-items: start;
}

/* Content-left specific styles */
.content-left {
  flex-direction: row-reverse; /* Text on the left, image on the right */
  justify-content: left;
}

.content-left .text {
  margin-left: 7%;
  margin-right: 40%;
}
.content-left .image {
  margin-right: 0%;
  margin-left: 67%;
}
.content-left .image img {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.content-right {
  flex-direction: row; 
  justify-content: rightt;
}
.content-right .text {
  margin-right: 7%;
  margin-left: 40%;
}
.content-right .image {
  margin-left: 0%;
  margin-right: 67%;
}
.content-right .image img {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.text {
  flex: 1;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
}

/* Image block */
.image {
  flex: 1;
  height: auto;
  max-width: 40%;
}

.image img {
  max-width: 100%; /* Keep image responsive */
  height: auto; /* Maintain aspect ratio */
}

.image p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  color: var(--perry-accent);
}

#transition-blurb {
  margin-left: 7%;
  margin-right: 7%;
  text-align: center;
}



custom-icon:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
  filter: drop-shadow(4px 8px 10px var(--green-accent));
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}