/* Root styles for consistency in the project page */

:root {
    --primary-gradient: linear-gradient(to bottom, var(--navy-accent), var(--background-color));
    --perry-accent: #394b9d;
    --navy-accent: #0f1638;
    --berry-accent: #940641;
    --green-accent: #78f0ae;
    --text-color: #f2f2f2;
    --light-color: #a2cfff;
    --background-color: #0f1026;
    --teal-accent: #23546c;
  
  }

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--text-color); /* Light background for better readability */
    color: var(--background-color); /* Neutral text color */
}

#projtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--perry-accent); /* Accent color for title */
}

/* Container for the entire projects section */
.project-container {
    max-width: 90%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--text-color); /* White background for each project block */
    border: 1px solid var(--light-color); /* Subtle border for structure */
}

/* Project name styles */
.projName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--teal-accent);
    background-color: var(--text-color);

}

/* Project date styles */
.projDate {
    font-size: 1rem;
    font-style: italic;
    color: var(--perry-accent);
    margin-bottom: 1rem;
    background-color: var(--text-color);

}

/* Project description styles */
.projDescription {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: var(--navy-accent);
    background-color: var(--text-color);

}

/* Link styles */
a {
    color: var(--berry-accent);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--text-color);

}

a:hover {
    text-decoration: underline;
    color: var(--perry-accent);
    background-color: var(--text-color);
}


/* Add spacing between successive projects */
.project-container + .project-container {
    margin-top: 2rem;
}
