/* General reset for consistent styling */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f1026;
}

:root {
  --primary-gradient: linear-gradient(to bottom, var(--navy-accent), var(--background-color));
  --perry-accent: #394b9d;
  --navy-accent: #0f1638;
  --berry-accent: #940641;
  --green-accent: #78f0ae;
  --text-color: #f2f2f2;
  --light-color: #a2cfff;
  --background-color: #03030c;
  --teal-accent: #23546c;

}

/* Base styles */

/* Default page styles */
.fullpage {
  width: 100vw;
  max-width: 100%;
  min-height: 100%;
  background-color: var(--background-color);
}

.expPage {

}

.homePage{

}

.connectPage{

}

.achPage{

}

.aboutPage{

}

.pagetitle {
  background-color: var(--berry-accent);
}

#root {
  margin: 0 auto;
  align-items: center;
}

h1 {
  color: var(--light-color);
  font-size: 2.5rem;
  font-family: 'Orbitron', serif;
  margin-bottom: .5rem;
  background-color: var(--background-color);
}

h2 {
  color: var(--berry-accent);
  font-size: 2rem;
  margin-bottom: 0.75rem;
  background-color: var(--background-color);

}

h3 {
  color: var(--berry-accent);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--background-color);

}

h4 {
  color: var(--green-accent);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--background-color);

}

h5 {
  color: var(--perry-accent);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--background-color);

}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--text-color);
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

/* Footer Styles */
footer {
  text-align: center;
  margin-top: 2rem;
  background-color: var(--background-color);
  color: var(--light-color);
  border-color: var(--teal-accent);
}

footer p {
  font-size: 1rem;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 1rem;
  }

  #navbar {
    flex-direction: column;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }
}
