@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Oxanium:wght@200..800&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  --background-color: #03030c;
  scroll-behavior: smooth;
}

:root {
  --perry-accent: #394b9d;
  --berry-accent: #940641;
  --green-accent: #78f0ae;
  --text-color: #f2f2f2;
  --light-color: #a2cfff;
  --background-color: #03030c;
  --teal-accent: #23546c;

}

/* Base styles */

/* Default page styles */
.fullpage {
  max-width: 100%;
  min-height: 100%;
  background-color: var(--background-color);
  display: flex;             /* Enable flexbox for centering */
  flex-direction: column; 

  justify-content: flex-start;   /* Horizontally center children */
  align-items: center;       /* Vertically center children */
  height: 100vh;             /* Full viewport height */
  width: 100vw;              /* Full viewport width */
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.expPage {

}

.homePage{

}

.connectPage{

}

.achPage{

}

.aboutPage{

}


#root {
  margin: 0 auto;
  align-items: center;
}

h1 {
  color: var(--text-color);
  font-size: 5.0rem;
  font-family: 'Oxanium', serif; 
  text-transform: uppercase;          /* Make all text uppercase */
  font-weight: 300; 
}

h2 {
  color: var(--light-color);
  font-size: 2.0rem;
  font-family: 'Oxanium', serif; 
  text-transform: uppercase;          /* Make all text uppercase */
  font-weight: 400; 
}

h3 {
  color: var(--teal-accent);
  font-family: 'Space Grotesk', serif;
  font-size: 1.5rem;
  background-color: var(--background-color);

}

h4 {
  color: var(--green-accent);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--background-color);

}

h5 {
  color: var(--perry-accent);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--background-color);

}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--text-color);
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

/* Footer Styles */
footer {
  width: 100%;
  background-color: var(--background-color); /* Black background for footer */
  color: var(--text-color);  /* Text color for footer */
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 1;
  margin-top: auto;  /* This ensures footer stays at the bottom if content is shorter than the viewport */
}

footer p {
  font-size: 1rem;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 1rem;
  }

  #navbar {
    flex-direction: column;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }
}
