:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

    --perry-accent: #394b9d;
    --navy-accent: #0f1638;
    --berry-accent: #940641;
    --green-accent: #78f0ae;
    --text-color: #f2f2f2;
    --light-color: #a2cfff;
    --background-color: #0f1026;
    --teal-accent: #23546c;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;

}

a {
  font-weight: 500;
  color: var(--perry-accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--berry-accent);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--teal-accent);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--light-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
