/* Navbar styles */
:root {

  --perry-accent: #394b9d;
  --navy-accent: #0f1638;
  --berry-accent: #940641;
  --green-accent: #78f0ae;
  --text-color: #f2f2f2;
  --light-color: #a2cfff;
  --background-color: #0f1026;
  --teal-accent: #23546c;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color); /* Dark background */
  box-shadow: 0 2vh 4vh var(--navy-accent); /* Subtle shadow */
  width: 88%;
  padding: 2vh 0; /* Adjust padding if needed */  
  
}


#name {
  display: flex;
  align-items: center;
  font-size: 2.5vw; /* Scales with screen width */
  font-weight: bold;
  padding-left: 5%;
  color: var(--light-color) /* Light blue text */
}

.brain-icon {
  margin-left: 1vw; /* Space between name and icon */
  color: var(--teal-accent); /* Brighter blue for the icon */
  font-size: 2.5vw; /* Icon size matches text size */
}

#navbar {
  display: flex;
  gap: 3vw; /* Space between navbar links */
  list-style: none;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.5vw; /* Responsive font size */
  font-weight: 400;
  color: var(--text-color); /* Light text color */
  transition: color 0.3s;
  background-color: #0f1638;
  padding-right: 5%;
}

#navbar li a:hover {
  color: var(--light-color); /* Light blue on hover */
}

/* Make the navbar stack on smaller screens */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 2vh;
  }

  #navbar {
    flex-direction: column;
  }

  #name {
    font-size: 4vw;
  }

  .brain-icon {
    font-size: 4vw;
  }
}
